* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

/* card 2 work start */

.card2-body {
    background-color: rgb(1 227 127) !important;
    height: 80vh;
}

.card-main {
    background-color: white;
    width: 500px;
    height: 360px;
    border-radius: 5px;
    margin: 100px 400px;
    display: flex;
    align-items: center;
}

.card-main .card-left {
    height: 310px;
    width: 230px;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    position: relative;
    right: 2rem;
}

.card-main .card-left .img {
    height: 250px;
    border-radius: 2px;
    background-color: hsl(79.04deg 80.68% 59.41%);
}

.card-main .card-left .img img {
    width: 20em;
    height: 15em;
    background: transparent;
    position: relative;
    right: 4rem;
}

.card-main .card-left .img .icons {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    font-weight: lighter;
}

.card-main .card-left .img .icons i {
    font-size: 20px;
    margin-top: 10px;
    color: white;


}

.card-main .card-left .list {
    text-align: center;
    padding-top: 8px;
}

.card-main .card-left .list img ,.card-right .slct-color .list img
    {
    width: 45px;
    height: 45px;
    background: transparent;
    border: 1px solid gray;
}

.card-right {
    /* background-color: blue; */
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-right .deli-apple h1 {
    color: rgb(73 72 78);
    font-size: 17px;
}

.card-right .deli-apple p {
    color: hsl(0deg 0% 85.88%);
    font-size: 7px;
}

.card-right .rs p {
    color: red;
    font-size: 14px;
}

.card-right .rs p span {
    padding-left: 10px;
    font-size: 40px;
}
.card-right .slct-color h4 ,.card-right .deli-apple h4,.card-right .benefits h4{
    color: hsl(0deg 0% 85.88%);
    font-size: x-small;
}
.card-right .slct-color .list img{
    border: none;
    margin-top: 10px;
}
.card-right .slct-color .list .img-1{
    border:1px solid gray;
}
.card-right ul{
    margin-left: 1rem;
}
.card-right ul li{
    font-size: 10px;
    padding-top: 3px;
    margin-right: 2rem;
}
.card-right .btn button{
    padding: 12px;
    width: 140px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    background-color: red;
    border: none;
}
